// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$success: #128c2c;
$primary: #c6538c;
$vue: #42b682;
$theme: #ff360e;
$blue: #1a75bb;

$success: #128c2c;
$danger: #f12323;
$warning: #ff820e;

$background: #fff;
$bg-gray: #e9ecef;

// fonts

$heading: "Jost", sans-serif !important;